---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/geocoding/v1/address?appid=006f17d3b2f2e16c3aa77e0406867d0c&exclude=minutely,alerts&location=Chandler,%20AZ&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 18 Jan 2022 15:18:13 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=TdHqzASCAAnZ3Dx8N9LbdS2cv6xPabLq&location=Chandler,%20AZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 18 Jan 2022 15:39:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Chandler,
        AZ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chandler","adminArea5Type":"City","adminArea4":"Maricopa
        County","adminArea4Type":"County","adminArea3":"AZ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040492","unknownInput":"","type":"s","latLng":{"lat":33.302285,"lng":-111.840103},"displayLatLng":{"lat":33.302285,"lng":-111.840103},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=TdHqzASCAAnZ3Dx8N9LbdS2cv6xPabLq&type=map&size=225,160&locations=33.302285,-111.840103|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1070122734"}]}]}'
  recorded_at: Tue, 18 Jan 2022 15:39:50 GMT
recorded_with: VCR 6.0.0
