---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=006f17d3b2f2e16c3aa77e0406867d0c&exclude=minutely,alerts&lat=45.0&lon=90.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45,"lon":90,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1642520147,"sunrise":1642469581,"sunset":1642502829,"temp":21.61,"feels_like":21.61,"pressure":1027,"humidity":58,"dew_point":10.47,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.54,"wind_deg":117,"wind_gust":0.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1642518000,"temp":21.56,"feels_like":21.56,"pressure":1027,"humidity":59,"dew_point":10.76,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.14,"wind_deg":145,"wind_gust":1.14,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642521600,"temp":21.61,"feels_like":21.61,"pressure":1027,"humidity":58,"dew_point":10.47,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.54,"wind_deg":117,"wind_gust":0.49,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1642525200,"temp":21.6,"feels_like":21.6,"pressure":1027,"humidity":58,"dew_point":10.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.9,"wind_deg":102,"wind_gust":1.81,"weather":[{"id":804,"mai[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=006f17d3b2f2e16c3aa77e0406867d0c&exclude=minutely,alerts&lat=33.0&lon=-112.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33,"lon":-112,"timezone[...]
