---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=006f17d3b2f2e16c3aa77e0406867d0c&exclude=minutely,alerts&lat=33.0&lon=-112.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33,"lon":-112,"timezone":"America/Phoenix","timezone_offset":-25200,"current":{"dt":1642660862,"sunrise":1642602586,"sunset":1642639643,"temp":52.9,"feels_like":50.43,"pressure":1019,"humidity":54,"dew_point":36.73,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.19,"wind_deg":266,"wind_gust":1.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1642658400,"temp":53.73,"feels_like":51.3,"pressure":1019,"humidity":53,"dew_point":37.02,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.59,"wind_deg":263,"wind_gust":1.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642662000,"temp":52.9,"feels_like":50.43,"pressure":1019,"humidity":54,"dew_point":36.73,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.19,"wind_deg":266,"wind_gust":1.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1642665600,"temp":53.47,"feels_like":51.1,"pressure":1019,"humidity":55,"dew_point":37.72,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.4,"wind_deg":275,"wind_gust":0.69,"weather":[{"id":800,"main":"Clear",[...]
