---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=006f17d3b2f2e16c3aa77e0406867d0c&exclude=minutely,alerts&lat=45.0&lon=90.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45,"lon":90,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1642660860,"sunrise":1642642298,"sunset":1642675787,"temp":22.3,"feels_like":17.17,"pressure":1024,"humidity":56,"dew_point":10.44,"uvi":0.82,"clouds":100,"visibility":10000,"wind_speed":3.78,"wind_deg":218,"wind_gust":4.74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1642658400,"temp":22.01,"feels_like":22.01,"pressure":1024,"humidity":57,"dew_point":10.51,"uvi":0.95,"clouds":98,"visibility":10000,"wind_speed":2.89,"wind_deg":215,"wind_gust":3.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642662000,"temp":22.3,"feels_like":17.17,"pressure":1024,"humidity":56,"dew_point":10.44,"uvi":0.82,"clouds":100,"visibility":10000,"wind_speed":3.78,"wind_deg":218,"wind_gust":4.74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1642665600,"temp":22.3,"feels_like":15.37,"pressure":1024,"humidity":56,"dew_point":10.44,"uvi":0.55,"clouds":100,"visibility":10000,"wind_speed":5.3,"wind_deg":216,"wind_gust":5.39,"weather":[{"id":80[...]
